.continueReading {
  font-style: italic;
}

.line {
  margin-top: var(--space-sm);
}

.lines {
  margin-left: var(--space-lg);
}

.lineNumber {
  text-align: right;
  padding-right: var(--space-md);
  font-size: var(--text-sm);
  color: var(--color-orange-dark);
  margin-left: calc(var(--space-xl) * -1);
  display: inline-block;
  width: var(--space-xl);
}

.lineNumber[data-is-five='true'] {
  font-weight: bold;
}
