:root {
  --text-base: 16px;
  --text-scale: 1.125;
  --text-h4: calc(var(--text-base) * var(--text-scale));
  --text-h3: calc(var(--text-h4) * var(--text-scale));
  --text-h2: calc(var(--text-h3) * var(--text-scale));
  --text-h1: calc(var(--text-h2) * var(--text-scale));
}

@media (min-width: 668px) {
  :root {
    --text-scale: 1.2;
  }
}

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: var(--type-base);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.42;

  /* temporary */
  background: linear-gradient(45deg, #000, #222 70%);
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

h4 {
  font-size: var(--text-h4);
}

h3 {
  font-size: var(--text-h3);
}

h2 {
  font-size: var(--text-h2);
}

h1 {
  font-size: var(--text-h1);
}

.wave-wrapper {
  --n: 0;
  --size: calc(100vw - 20px * 2);
  --max-size: 600px;
  position: relative;
  width: 100%;
  max-width: var(--max-size);
  margin: 50px auto;
}

.wave {
  /* color */
  --red: 0;
  --blue: calc(255 - var(--n) * 55);
  --green: calc(150 + var(--n) * var(--n) * 55);
  background: rgb(var(--red), var(--green), var(--blue));

  /* animation */
  animation: pulse 8000ms infinite ease;
  animation-delay: calc(var(--n) * 600ms);

  /* size, shape, & position */
  position: absolute;
  opacity: 0.25;
  width: var(--size);
  height: var(--size);
  max-width: 600px;
  max-height: 600px;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }

  50% {
    transform: scale(.25);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}
