.bouncing-block-container {
  --cycle: 600ms;
  --bounces-per-side: 4;
  --time-across: calc(var(--cycle) * var(--bounces-per-side));
  --path-length: calc(100cqw + 80px);

  container-type: inline-size;
  position: relative;
  width: 100%;
  min-height: var(--content-height);
  overflow: hidden;

  @media (min-width: 668px) {
    background: #f7f7f7;
  }

  @media (min-width: 992px) {
    --bounces-per-side: 6;
  }

  @media (min-width: 1200px) {
    --bounces-per-side: 8;
  }

  & .block {
    --color: #8aaad8;

    position: absolute;
    bottom: 10px;
    left: -60px;
    width: 50px;
    height: 50px;
    /* TODO: changeColor not working in Firefox */
    animation: moveLeft var(--time-across) linear alternate infinite both,
      flipHorizontal calc(var(--time-across) * 2) linear infinite both,
      changeColor calc(var(--cycle) * 12) calc(var(--cycle) * -1)
        steps(1, jump-end) infinite both;

    &::after {
      content: "";
      display: block;
      background: var(--color);
      width: 100%;
      height: 100%;
      /* TODO: scale broken in Safari */
      animation: bounce var(--cycle) ease-in alternate infinite both,
        lean calc(var(--cycle) * 2) calc(var(--cycle) * -0.8) linear infinite both;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -50%;
      width: 200%;
      height: 100%;
      bottom: -56px;
      background-image: linear-gradient(
        to right,
        var(--color) 4%,
        rgba(255, 255, 255, 0) 0% 96%,
        var(--color) 96% 100%
      );
      background-position: top;
      background-size: 50px 4px;
      background-repeat: repeat-x;
      animation: dust calc(var(--cycle) * 2) calc(var(--cycle) * -1) infinite both;
    }
  }
}

@keyframes bounce {
  0% {
    translate: 0 -300px;
  }

  30% {
    scale: 0.8 1.25;
  }

  90% {
    scale: 0.5 2;
    translate: 0 0;
  }

  100% {
    scale: 2 0.5;
    translate: 0 25px;
  }
}

@keyframes lean {
  0%,
  7% {
    rotate: 0deg;
  }

  35% {
    rotate: 45deg;
  }

  65% {
    rotate: 135deg;
  }

  93%,
  100% {
    rotate: 180deg;
  }
}

@keyframes changeColor {
  0%,
  100% {
    --color: #e75d5d;
  }

  16.7% {
    --color: #eb8a47;
  }

  33.3% {
    --color: #eec42e;
  }

  50% {
    --color: #84cda0;
  }

  66.7% {
    --color: #8aaad8;
  }

  83.3% {
    --color: #a98bc7;
  }
}

@keyframes moveLeft {
  to {
    translate: var(--path-length) 0;
  }
}

@keyframes flipHorizontal {
  0%,
  50% {
    scale: 1 1;
  }
  50.01%,
  100% {
    scale: -1 1;
  }
}

@keyframes dust {
  0%,
  5% {
    opacity: 1;
  }

  10%,
  100% {
    scale: 2 2;
    opacity: 0;
  }
}
