.keyboard-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  & .keyboard {
    --width: 1;

    width: 100%;
    padding: 32px 1% 8px;
    background: #d1d4dc;

    & div {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 1.5%;

      &:nth-child(2) {
        margin-top: 0;
      }
    }

    & .key {
      width: calc(var(--width) * 8.2%);
      font-size: min(6vw, 32px);
      background: #fff;
      display: inline-block;
      padding: 10px 0 6px;
      height: min(12vw, 64px);
      text-align: center;
      box-shadow: 0 2px #0005;
      border: none;
      transition: 100ms box-shadow, 100ms transform, 100ms background;
      cursor: pointer;
      position: relative;
      border-radius: 1.5vw;

      &.pressed,
      &:active {
        box-shadow: 0 0 1px 1px #0002;
        transform: translateY(4px);
        background: #f7f7fa;
      }

      &.hidden-on-medium {
        background: #abb5bd;
        font-size: min(4vw, 20px);
      }

      &.shift-left {
        --width: 1.4;
        margin-right: 2vw;
        padding: 6px 0 10px;
      }

      &.backspace {
        --width: 1.4;
        margin-left: 2vw;
      }

      &.smiley {
        padding: 6px 0 10px;
        font-size: min(7vw, 32px);
      }

      &.spacebar {
        flex-grow: 1;
        font-size: min(4vw, 20px);
      }
    }

    @media (max-width: 1065px) {
      & .hidden-on-small {
        display: none;
      }
    }
  }

  @media (max-width: 667px) {
    --content-height: 260px;
  }

  @media (min-width: 668px) {
    background: #f7f7fa;
  }

  @media (min-width: 1066px) {
    justify-content: center;

    & .keyboard {
      box-shadow: 0 0 4px #0005;
      padding: 8px;
      padding-top: 4px;
      width: 671px;
      border-radius: 4px;
      background: #fff;

      & div {
        margin-top: 8px;
        gap: 2px;
        justify-content: space-between;

        &:nth-child(2) {
          margin-top: 8px;
        }
      }

      & .key {
        font-size: 14px;
        height: auto;
        padding: 8px 0;
        width: calc(var(--width) * 36px);
        border-radius: 3px;
        box-shadow: 0 4px 4px #0005;
        border: 1px solid #0001;

        &.shift-left {
          --width: 2.7;
          margin: 0;
        }

        &.spacebar {
          color: transparent;
          font-size: 14px;
        }
      }

      & .hidden-on-medium {
        display: none;
      }
    }
  }

  & .skip-keyboard {
    display: block;
    margin: 8px 0;
    opacity: 0;

    @media(min-width: 1066px) {
      margin-bottom: 16px;
      margin-top: -34px;
    }

    &:focus {
      outline: none;
      opacity: 1;
    }
  }
}
