.parallax {
  position: relative;
  height: 200px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  & .bg,
  & .mid,
  & .fore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & .bg {
    background-image: url("../../img/parallax/back.png");
    animation: roll 20s -5s linear infinite;
  }

  & .mid {
    background-image: url("../../img/parallax/mid.png");
    animation: roll 15s -5s linear infinite;
  }

  & .fore {
    background-image: url("../../img/parallax/fore.png");
    animation: roll 7s -5s linear infinite;
  }

  & .subject {
    position: absolute;
    background-image: url("../../img/parallax/subject.png");
    width: 205px;
    height: 87px;
    bottom: 0;
    left: 30%;
  }
}

.parallax-content {
  background: linear-gradient(#091c2a 50%, #85969f 50%);
  display: flex;
  align-items: center;

  @media (min-width: 668px) {
    animation: fadeIn 300ms;

    &.selected > * {
      animation: none !important;
    }
  }
}

@media (max-width: 667px) {
  .parallax-title {
    background: #091c2a;
    color: #fff;
  }

  .parallax-content {
    --content-height: 200px;
  }
}

@keyframes roll {
  100% {
    background-position: -1600px 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}