
.slot-machine {
  --digit: 0;
  --n: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  font-size: min(60px, 8vw);
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-weight: 900;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000,
    -2px -2px #000, 2px 2px #000, 2px -2px #000, -2px 2px #000;
  color: #e60548;
  line-height: 1;
  background: linear-gradient(#000, #fff 12% 92%, #000);

  @media (min-width: 668px) {
    border-width: 6px 32px;
    border-style: solid;
    border-color: #d6d6d6;
    margin-top: 74px;
  }

  & .char {
    padding: 0 8px;
  }

  & .char,
  & .digit {
    display: inline-block;
    height: 1.4em;
    padding-top: 0.2em;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    overflow: hidden;

    &.hidden-md {
      @media (min-width: 668px) and (max-width: 986px) {
        display: none;
      }
    }
  }

  & > *:first-child {
    border-left-width: 4px;
  }

  & > *:last-child {
    border-right-width: 4px;
  }

  & .digit {
    width: 1em;
    line-height: 1;
    text-align: center;
    position: relative;

    &::after {
      content: "0 1 2 3 4 5 6 7 8 9";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}

.selected .slot-machine.animating .digit {

  &::after {
    animation: spin 400ms linear var(--digit);
  }

  & > span {
    animation: hideMe calc(400ms * var(--digit)) linear;
  }

}

.lever {
  padding: 13px 32px 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  width: 200px;
  background: #e75d5d;
  cursor: pointer;
  transition: background 300ms;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: #cc4b4b;
    width: 100%;
    height: 4px;
    bottom: 0;
    transition: transform 300ms;
    transform: scaleX(0);
  }

  &:hover {
    background: #f97c7c;

    &::after {
      transform: scaleX(1);
    }
  }

  &:active {
    background: #e77;
  }

  &.hidden-md {
    @media (min-width: 668px) {
      display: none;
    }
  }
}

.slot-machine-content {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 667px) {
  .slot-machine-title {
    background: #f7f7f7;
  }
}

@keyframes spin {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-9em);
    opacity: 1;
  }
}

@keyframes hideMe {
  0%,
  100% {
    opacity: 0;
  }
}