#light-speed,
#cave-generator {
  --height: 440px;
  padding: 0;

  & a {
    display: block;
    background-image: url('../img/cave.png');
    min-height: var(--height);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #fff;
    border: 8px solid #935e4c;
    border-right-width: 0;
    text-decoration: none;

    & .gradient {
      display: flex;
      background: linear-gradient(#000a 50%, transparent);
      padding: 40px 20px 20px;
      margin: -8px;
      margin-right: 0;
      min-height: var(--height);

      & .info {
        max-width: 430px;
        margin: 0 auto;
      }

    }

    @media (min-width: 580px) {
      border-right-width: 8px;
      border-top-width: 0;

      & .gradient {
        margin-right: -8px;
        margin-top: 0;
      }
    }

    @media (min-width: 668px) {
      & .gradient {
        padding-left: max(20px, calc(50vw - 500px));
        background: radial-gradient(circle at 15% 0%, #000a 40%, transparent);

        & .info {
          margin: 0;
        }
      }
    }

    @media (min-width: 992px) {
      --height: 600px;

      & .gradient {
        padding-left: calc(calc(50vw - 430px) / 2);
        background: radial-gradient(circle at 15% 50%, #000a 30%, transparent);
        align-items: center;

        & .info {
          max-width: 400px;
        }
      }
    }

    &:focus {
      outline: none;

      & .call-to-action {
        text-decoration: underline;
      }
    }
  }
}

#light-speed a {
  background-image: url('../img/stars.png');
  border: none;
  padding: 8px;

  & .gradient {
    background: transparent;
  }
}
