@import 'css-explorations/folded-note.css';
@import 'css-explorations/bouncing-block.css';
@import 'css-explorations/confetti.css';
@import 'css-explorations/slot-machine.css';
@import 'css-explorations/theme-toggle.css';
@import 'css-explorations/keyboard.css';
@import 'css-explorations/parallax.css';

#css-exploration {
  --content-height: 400px;

  scroll-snap-align: none;
  padding: 0;
  background: #fff;

  & .tab-title {
    scroll-snap-align: start;
    padding: 40px 20px 20px;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      text-decoration: underline;
    }

    & h3 {
      margin: 0;
      margin-bottom: 8px;
    }
    
    & p {
      margin: 0;
    }
  }

  & .tab-content {
    display: flex;
    min-height: var(--content-height);
  }

  @media (min-width: 668px) {
    --content-height: 600px;

    /* TODO: remove white-space between parallax and footer */
    &:after {
      content: '';
      /* background: #000; */
      z-index: -3;
      height: calc(var(--content-height) / 2);
      display: block;
      /* margin-bottom: calc(var(--content-height) / -2); */
    }

    & .tab-title {
      min-height: var(--content-height);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      padding: 0 20px;
      opacity: 0.6;
      position: relative;
      transition: opacity 300ms;
      width: 33vw;

      &::after {
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 300ms;
        top: calc(50% - 32px);
        right: 0;
        background: #e75d5d;
        content: '';
        height: 64px;
        width: 8px;
        border-radius: 4px;
        display: inline-block;
        
      }
        
      &.selected {
        opacity: 1;
        
        &::after {
          opacity: 1;
        }
      }
    }

    & .tab-content:not(.selected) {
      display: none;
    }
    
    & .tab-content.selected {
      position: sticky;
      top: var(--header-height);
      margin-left: calc(33vw + 16px);
      margin-top: calc(-1 * var(--content-height));

      & > * {
        animation: fadeIn 300ms;
      }
    }

    /* all tab-contents, except the first */
    & .tab-content ~ .tab-content.selected {
      margin-top: calc(-1.5 * var(--content-height));
      margin-bottom: calc(0.5 * var(--content-height));
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}