:root {
  --header-height: 64px;
}

header {
  view-transition-name: header;
  background: #000;
  color: #fff;
  width: 100vw;
  min-height: var(--header-height);
  max-height: 100vh;
  max-height: 100svh;
  height: 100vh;
  height: 100svh;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  & .logo-and-title {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    & .logo {
      --y: -12vh;
      --y: -12svh;

      max-width: min(60vw, 60vh);
      max-height: 512px;
      height: 100%;
      transform: translate(4%, calc(var(--y) + 8px));
    }

    & h1 {
      opacity: 0;
      transform: translateX(-16px);
      margin: 0;
      max-width: 0;
      font-size: 36px;
      padding-top: 4px;
      flex-shrink: 0;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: clip;
    }
  }

  & .down-arrow-wrapper {
    transition: opacity 300ms;
  }

  & .down-arrow {
    position: absolute;
    bottom: 1vh;
    bottom: 1svh;
    width: 8vw;
    height: 8vw;
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    animation: slideDown 900ms 2.2s both;
  }

  & .tagline {
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    top: 54%;
    font-family: var(--heading);
    font-size: 20px;
    line-height: 1.6;
    transition: opacity 300ms;

    & > div {
      transform: translateY(0);
      animation: slideDown 900ms 1.3s both;
    }

    @media (min-width: 500px) {
      top: 62%;
      font-size: 24px;
      width: 400px;
    }
  }

  &::before {
    @media (min-width: 1282px) {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(calc(1282px - 100vw) / 2);
      width: 100vw;
      background: #000;
    }
  }

  &.has-scrolled {
    & .tagline,
    & .down-arrow-wrapper {
      opacity: 0;
    }
  }

  &.as-nav {
    & .logo {
      transition: transform 300ms 300ms;
      transform: none;
    }

    & .tagline,
    & .down-arrow-wrapper {
      display: none;
    }

    & h1 {
      transition-duration: 300ms;
      transition-delay: 300ms;
      transition-property: opacity, transform, max-width;
      opacity: 1;
      transform: translateX(8px);
      max-width: 195px;
    }
  }
}

.header-placeholder {
  height: 100vh;
  background: #000;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
}