:root {
  --header-height: 64px;
}

header {
  background: #000;
  color: #fff;
  width: 100vw;
  min-height: var(--header-height);
  max-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1282px;
  margin: 0 auto;

  & .logo {
    --center: calc(min(1282px, 100vw) / 2);
    max-width: 60vw;
    max-height: 512px;
    height: 100%;
    transition: transform 300ms;
    transform: translateX(calc(var(--center) - 50% - 16px));
  }

  & .down-arrow {
    position: absolute;
    bottom: 1vh;
    width: 5vw;
    max-width: 64px;
    max-height: 64px;
    height: 5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: opacity 300ms;
  }

  & .title-and-nav {
    align-self: flex-end;
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-grow: 1;

    & h1 {
      opacity: 0;
      transform: translateX(-16px);
      grid-column: 1;
      margin: 0;
      padding-bottom: 2px;
      font-weight: normal;
    }

    & nav {
      display: none;
      grid-column: 3;
      align-items: flex-end;
      gap: 16px;
      padding-bottom: 5px;

      @media (min-width: 992px) {
        display: flex;
      }

      & a,
      & a:visited {
        font-family: var(--serif);
        opacity: 0;
        transform: translateX(16px);
        font-size: 16px;
        color: #fff;
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }

  &::before {
    @media (min-width: 1282px) {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(calc(1282px - 100vw) / 2);
      width: 100vw;
      background: #000;
    }
  }

  &.as-nav {
    & .logo {
      transform: none;
    }

    & .down-arrow {
      display: none;
    }

    & .title-and-nav {
      & h1 {
        transition: all 300ms 300ms;
        opacity: 1;
        transform: none;
      }

      & nav a {
        --index: 0;
        transition: all 300ms;
        transition-delay: calc(600ms + calc(var(--index) * 50ms));
        transform: none;
        opacity: 1;
      }
    }
  }

  &.has-scrolled .down-arrow {
    opacity: 0;
  }
}

.header-placeholder {
  height: 100vh;
  background: #000;
}