:root {
  --header-height: 64px;
}

header {
  --center: calc(min(1282px, 100vw) / 2);

  background: #000;
  color: #fff;
  width: 100vw;
  min-height: var(--header-height);
  max-height: 100vh;
  max-height: 100svh;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1282px;
  margin: 0 auto;

  & .logo {
    --x: calc(var(--center) - 50% - 16px);
    --y: -12vh;
    --y: -12svh;
    max-width: 60vw;
    max-height: 512px;
    height: 100%;
    transition: transform 300ms;
    transform: translate(var(--x), var(--y));
  }

  & .down-arrow {
    position: absolute;
    bottom: 1vh;
    bottom: 1svh;
    width: 5vw;
    max-width: 64px;
    max-height: 64px;
    height: 5vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: opacity 300ms;
  }

  & .title-and-nav {
    align-self: flex-end;
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-grow: 1;

    & h1 {
      opacity: 0;
      transform: translateX(-16px);
      grid-column: 1;
      margin: 0;
      padding-bottom: 2px;
      font-weight: normal;
    }

    & .tagline {
      position: absolute;
      left: 0;
      right: 0;
      width: 300px;
      margin: 0 auto;
      text-align: center;
      top: 72%;
      font-family: var(--serif);
      font-size: 20px;
      line-height: 1.6;
      transition: opacity 300ms;

      & > div {
        animation: fadeIn 900ms 1.1s both;
      }

      @media (min-width: 668px) {
        font-size: 24px;
        width: 400px;
      }
    }

    & nav {
      display: none;
      grid-column: 3;
      align-items: flex-end;
      gap: 16px;
      padding-bottom: 5px;

      @media (min-width: 992px) {
        display: flex;
      }

      & a,
      & a:visited {
        font-family: var(--serif);
        opacity: 0;
        transform: translateX(16px);
        font-size: 16px;
        color: #fff;
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }

  &::before {
    @media (min-width: 1282px) {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(calc(1282px - 100vw) / 2);
      width: 100vw;
      background: #000;
    }
  }

  &.has-scrolled {
    & .logo {
      --y: 0;
    }

    & .tagline,
    & .down-arrow {
      opacity: 0;
    }
  }

  &.as-nav {
    & .logo {
      transform: none;
    }

    & .tagline,
    & .down-arrow {
      display: none;
    }

    & .title-and-nav {
      & h1 {
        transition: all 300ms 300ms;
        opacity: 1;
        transform: none;
      }

      & nav a {
        --index: 0;
        transition: all 300ms;
        transition-delay: calc(600ms + calc(var(--index) * 50ms));
        transform: none;
        opacity: 1;
      }
    }
  }
}

.header-placeholder {
  height: 100vh;
  height: 100svh;
  background: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}