@import 'header.css';
@import 'dnd-spellbook.css';
@import 'star-trek-puzzle.css';
@import 'css-exploration.css';
@import 'footer.css';

:root {
  --link-color: #155b98;
  --link-color-hover: #1c79ca;
  --serif: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --sans: system-ui, sans-serif;
  --sans: var(--serif);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding: var(--header-height);
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans);
  color: #000;
  background: #000;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--serif);
}

h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 16px;
}

h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  line-height: 1.6;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

.hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}

.call-to-action {
  --trap-multiplier: 10;
  --trap-offset: calc(var(--trap-multiplier) * 1%);
  --trap-offset-neg: calc(100% - var(--trap-offset));

  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    120deg,
    hsl(240deg 100% 80%) 50%,
    hsl(240deg 100% 83%) 50% 52%,
    hsl(240deg 100% 86%) 52%
  );
  background-size: 220%;
  border: none;
  font-size: 16px;
  font-family: system-ui;
  min-height: calc(44px * (1 + (var(--trap-multiplier) / 100) * 2));
  padding: 0 32px;
  color: hsl(240 100% 10%);
  font-weight: bold;
  clip-path: polygon(
    0 var(--trap-offset-neg),
    0 var(--trap-offset),
    100% 0,
    100% 100%
  );
  transition: clip-path 300ms, background 300ms;
  cursor: pointer;

  &:hover {
    clip-path: polygon(
      0 100%,
      0 0,
      100% var(--trap-offset),
      100% var(--trap-offset-neg)
    );
    background-position: 90%;
  }
}

section.new {
  --height: 440px;

  scroll-snap-align: start;

  & a {
    display: flex;
    flex-direction: column;
    min-height: var(--height);
    color: #000;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

    .info {
      padding: 60px 20px;
      max-width: 430px;
      flex-shrink: 0;
      margin: 0 auto;

      & h2 {
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    & img {
      display: block;
      width: 100%;
      height: calc(var(--height) * 3 / 4);
      object-fit: cover;
      max-width: 1585px;
    }
  }

  &:not(:has(img)) {
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;

    & a {
      background: linear-gradient(#000a 50%, transparent);
      color: #fff;
    }
  }

  @media (min-width: 668px) {
    & a {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .info {
        padding: 0;
        margin: 40px max(40px, calc(25vw - 250px));
      }

      & img {
        height: var(--height);
      }
    }

    &:not(:has(img)) {
      & a {
        justify-content: flex-start;
        background: radial-gradient(circle at 15% 0%, #000a 40%, transparent);
      }
    }
  }

  @media (min-width: 992px) {
    --height: 600px;

    &:not(:has(img)) a {
      background: radial-gradient(circle at 15% 50%, #000a 30%, transparent);
    }
  }

  & a:focus {
    outline: none;

    & .call-to-action {
      text-decoration: underline;
    }
  }

  @media (min-width: 2000px) {
    --height: 800px;
  }
}