@import 'header.css';
@import 'star-trek-puzzle.css';

:root {
  --link-color: #155b98;
  --link-color-hover: #1c79ca;
  --serif: "Zilla Slab", serif;
  --sans: Helvetica, Arial, sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding: var(--header-height);
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans);
  color: #333;
  margin: 0;
  /* TODO: temporary */
  min-height: 200vh;
}

main {
  scroll-snap-align: start;
}

section {
  padding: 40px 16px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--serif);
}

h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 16px;
}

h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  line-height: 1.6;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}