#star-trek-puzzle {
  background: #ffcc99;

  & img {
    --offset-top: 0;

    margin-left: 40px;
    margin-top: var(--offset-top);
    height: calc(var(--height) - var(--offset-top));
    object-position: bottom left;

    @media (min-width: 668px) {
      --offset-top: 80px;

      margin-left: 0;
    }

  }
}