.grid {
  margin-top: var(--space-md);
  display: grid;
  grid-gap: var(--space-md);
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
  }
}

.textarea {
  background: var(--color-neutral-light);
  display: block;
  border: none;
  color: var(--color-orange-lighter);
  font-size: var(--text-md);
  padding: var(--space-md);
  min-height: 204px;
  width: 100%;
  resize: none;
}

.textarea:hover {
  background: var(--color-neutral-lighter);
}

.responseHeading {
  margin-top: 0;
  margin-bottom: var(--space-sm);
}
