.contentBorder {
  position: relative;
  background: var(--color-orange-dark);
  grid-area: content;

  padding-left: var(--space-sm);
  padding-top: var(--space-lg);
  border-top-left-radius: calc(var(--space-lg) * 1.5);
}

@media (min-width: 668px) {
  .contentBorder {
    border-top-left-radius: calc(var(--nav-width) / 2);
    padding-left: var(--nav-width);
  }
}

.content {
  background: var(--color-neutral);
  min-height: calc(100vh - var(--space-md) * 5 - 200px);
  padding: var(--space-lg);
  border-top-left-radius: var(--space-lg);
}

@media (min-width: 668px) {
  .content {
    border-top-left-radius: var(--space-xl);
    padding: var(--space-lg) var(--space-xl);
  }
}

.borderBlock {
  position: absolute;
  top: 0;
  border-left-style: solid;
  border-left-color: var(--color-neutral);
  border-left-width: var(--space-md);
  height: var(--space-lg);
}

.borderBlock1 {
  width: var(--space-xl);
  background: var(--color-orange-primary);
  right: 0;
}

.borderBlock2 {
  width: 30%;
  background: var(--color-blue-light);
  right: var(--space-xl);
}

.borderBlock3 {
  width: 15%;
  background: var(--color-orange-lighter);
  border-bottom-width: var(--space-md);
  border-bottom-color: var(--color-neutral);
  border-bottom-style: solid;
  right: calc(30% + var(--space-xl));
}

.borderBlock4 {
  display: none;
}

@media (min-width: 992px) {
  .borderBlock4 {
    display: block;
    width: var(--space-xl);
    background: var(--color-orange-lighter);
    right: calc(45% + var(--space-xl));
  }
}
