.errorText {
  margin: var(--space-md) 0;
  color: var(--color-orange-dark);
}

.forgotButton,
.submitButton {
  width: 100%;
  margin-bottom: var(--space-md);
}

@media (min-width: 668px) {
  .forgotButton,
  .submitButton {
    width: auto;
  }

  .forgotButton {
    margin-right: var(--space-md);
  }
}

.continueLink {
  display: block;
  width: 200px;
  margin-top: var(--space-md);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading > span {
  animation-duration: 900ms;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hint > span {
  display: inline-block;
  width: var(--space-lg);
  margin-right: var(--space-xs);
  margin-bottom: var(--space-xs);
}
