.projectSummaries {
  display: grid;
  grid-gap: var(--space-lg);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projectSummary {
  color: var(--color-neutral-light);
  text-decoration: none;
}

.title {
  margin-top: 0;
}

.image {
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.aspectRatio {
  position: relative;
  display: block;
}

.aspectRatio::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 60%;
}

.description {
  margin: var(--space-md) 0 var(--space-sm);
}
