:root {
  --text-base: 16px;
  --text-scale: 1.125;
  --text-h4: calc(var(--text-base) * var(--text-scale));
  --text-h3: calc(var(--text-h4) * var(--text-scale));
  --text-h2: calc(var(--text-h3) * var(--text-scale));
  --text-h1: calc(var(--text-h2) * var(--text-scale));
}

@media (min-width: 668px) {
  :root {
    --text-scale: 1.2;
  }
}

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: var(--type-base);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.42;

  /* temporary */
  min-height: 100vh;
  background: linear-gradient(45deg, #000, #222 70%);
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

h4 {
  font-size: var(--text-h4);
}

h3 {
  font-size: var(--text-h3);
}

h2 {
  font-size: var(--text-h2);
}

h1 {
  font-size: var(--text-h1);
}
