.button {
  position: relative;
  color: var(--color-neutral);
  fill: var(--color-neutral);
  background: var(--color-klingon-red-default);
  border: 2px solid transparent;
  display: flex;
  font-size: var(--text-lg);
  font-family: var(--font-klingon);
  padding: var(--space-sm) var(--space-md);
  padding-left: calc(var(--space-md) - 8px);
  cursor: pointer;
  align-items: flex-start;
  width: 120px;
  flex-shrink: 0;
  transition: width 300ms, padding 300ms, border-width 300ms;
  text-decoration: none;
}

.button[aria-hidden='true'] {
  width: 0;
  padding: var(--space-sm) 0;
  border-width: 2px 0;
  overflow: hidden;
}

.button:hover {
  background: var(--color-klingon-red-light);
}

.button:focus {
  text-decoration: underline;
}
