.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--space-md) auto;
  border-color: var(--color-klingon-red-default);
  border-width: 2px var(--space-sm);
  border-style: solid;
  width: 249px;
}

.ensigna {
  display: none;
  --width: calc(50vw - 50% - var(--space-lg));
  position: absolute;
  top: var(--space-lg);
  bottom: var(--space-lg);
  margin: auto 0;
  padding: var(--space-lg);
  fill: var(--color-klingon-red-dark);
  width: var(--width);
  max-width: 420px;
}

@media (min-width: 992px) {
  .ensigna {
    display: block;
  }
}

.ensigna:first-of-type {
  right: 100%;
}

.ensigna:last-of-type {
  left: 100%;
}

@media (min-width: 668px) {
  .container {
    width: 483px;
    flex-direction: row;
  }
}

.listBorder {
  color: var(--color-klingon-red-light);
  font-family: var(--font-klingon);
  font-size: var(--text-lg);
}

.letterRow {
  border-bottom-color: var(--color-klingon-red-default);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
}

.letterKey {
  position: relative;
  padding: var(--space-xs) var(--space-sm);
  width: 44px;
  text-align: center;
}

.letterRow:nth-child(even) .letterKey {
  padding-right: calc(var(--space-sm) + 22px);
  width: 66px;
}

.block {
  position: relative;
  width: 42px;
}

.letterRow:nth-child(odd) .block:nth-child(odd),
.letterRow:nth-child(even) .block:nth-child(even) {
  margin-left: -42px;
}

.letterRow:nth-child(odd) .block:nth-child(odd)::after,
.letterRow:nth-child(even) .block:nth-child(even)::after,
.letterKey::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-right-color: var(--color-klingon-red-default);
  border-right-width: 1px;
  border-right-style: solid;
  transform: rotate(30deg);
  transform-origin: bottom right;
  height: 116%;
  z-index: 1;
}

.letterRow:nth-child(odd) .block:nth-child(even)::after,
.letterRow:nth-child(even) .block:nth-child(odd)::after,
.letterRow:nth-child(even) .letterKey::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-right-color: var(--color-klingon-red-default);
  border-right-width: 1px;
  border-right-style: solid;
  transform: rotate(-30deg);
  transform-origin: bottom right;
  height: 116%;
  z-index: 1;
}

.letterRow:nth-child(odd) .block[data-filled='true']:nth-child(even)::before,
.letterRow:nth-child(even) .block[data-filled='true']:nth-child(odd)::before {
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  border-bottom-color: var(--color-klingon-yellow);
  border-bottom-width: 36px;
  border-bottom-style: solid;
}

.letterRow:nth-child(odd) .block[data-filled='true']:nth-child(odd)::before,
.letterRow:nth-child(even) .block[data-filled='true']:nth-child(even)::before {
  z-index: -1;
  content: '';
  display: block;
  width: 100%;
  border-right: 21px solid transparent;
  border-left: 21px solid transparent;
  border-top-color: var(--color-klingon-yellow);
  border-top-width: 36px;
  border-top-style: solid;
  margin-left: 21px;
}

.codeIndex {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}
