.simulation {
  --max-width: 700px;
  --width: min(calc(100vw - 100px), var(--max-width));
  overflow-x: auto;
  margin: var(--space-lg) 0;
  min-height: calc(var(--width) * 4 / 3);
}

@media (min-width: 662px) {
  .simulation {
    min-height: calc(var(--width) * 3 / 4);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.simulation canvas {
  display: block;
  margin: 0 auto;
  animation-duration: 300ms;
  animation-name: fadeIn;
}

[data-theme='windows-95'] .simulation canvas {
  border-width: 2px;
  border-color: #808080 #ffffff #ffffff #808080;
  border-style: solid;
}
