.container {
  display: flex;
  flex-wrap: wrap;
}

.li {
  margin: var(--space-md);
  font-size: var(--text-xl);
  font-family: monospace;
}

.letter {
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-orange-lighter);
  padding-right: var(--space-sm);
}
