.biomeList {
  margin: var(--space-md) 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.biomeList li {
  display: flex;
  margin-right: var(--space-lg);
  margin-bottom: var(--space-md);
}

.biomeList li::before {
  margin-right: var(--space-sm);
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background: var(--biome-color);
}

.endcap:last-of-type {
  margin-right: 0;
  margin-left: var(--space-sm);
}

.labels {
  display: flex;
  justify-content: space-between;
}

.gradientLegend {
  margin-bottom: var(--space-lg);
  display: flex;
  height: 20px;
}

.gradientChunk {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  flex-grow: 1;
}
