.pageTitle {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}

.inputAndButton {
  margin: 0 auto var(--space-lg);
  width: 100%;
  max-width: 483px;
  display: flex;
}
