.controls {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: var(--space-md);
}

@media (min-width: 662px) {
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.controls select {
  text-transform: capitalize;
}
