.themeToggle {
  position: relative;
  align-self: center;
  width: 100%;
  text-align: center;
  background: var(--color-bg-body);
}

.label {
  pointer-events: none;
  font-size: var(--text-sm);
}

.themeToggle select {
  padding: var(--space-sm);
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: var(--text-base);
  color: var(--color-fg-title);
  cursor: pointer;
  padding-right: var(--space-sm);
  margin-right: var(--space-md);
}

@media (min-width: 662px) {
  .themeToggle {
    width: auto;
    text-align: left;
    background: transparent;
  }

  .label {
    position: absolute;
    top: 4px;
    left: 20px;
  }

  .themeToggle select {
    padding: var(--space-md);
    height: 60px;
  }
}

.themeToggle:hover,
.themeToggle:focus-within {
  background: var(--color-bg-body);
}

.themeToggle::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 4px);
  background: var(--color-pop-hover);
  transform: scaleX(0);
  transition: transform 300ms;
  height: 2px;
  pointer-events: none;
}

.themeToggle:hover::after,
.themeToggle:focus-within::after {
  transform: scaleX(1);
}

[data-theme='windows-95'] .themeToggle:focus-within,
[data-theme='windows-95'] .themeToggle:hover {
  background: #dcd9dc;
}

@media (min-width: 662px) {
  [data-theme='windows-95'] .themeToggle select {
    color: #fff;
    height: 28px;
    padding: 4px 8px;
    margin-right: 8px;
  }

  [data-theme='windows-95'] .label {
    color: #d6d6d6;
    padding-left: 8px;
    vertical-align: text-top;
    position: static;
  }

  [data-theme='windows-95'] .themeToggle:focus-within,
  [data-theme='windows-95'] .themeToggle:hover {
    background: #fff3;
  }
}

[data-theme='windows-95'] .themeToggle::after {
  content: none;
}

[data-theme='rainbow'] .themeToggle::after {
  background-image:
    linear-gradient(to bottom, var(--magenta) 0, var(--magenta) 100%),
    linear-gradient(to bottom, var(--blue) 0, var(--blue) 100%),
    linear-gradient(to bottom, var(--yellow) 0, var(--yellow) 100%);
  background-size: calc(100% / 2.5) 100%;
  background-repeat: no-repeat;
  background-position-x: 0, 50%, 100%;
  background-blend-mode: multiply;
  background-color: #fff;
  height: 4px;
}