.footer {
  flex-shrink: 0;
  padding: var(--space-sm);
  background: var(--color-bg-menu);
}

.address {
  text-align: center;
  font-style: normal;
  font-size: 14px;
}

.address a {
  margin: var(--space-sm);
}

.address a::before {
  content: none;
}

[data-theme='windows-95'] .footer {
  padding: 0;
}
