:root {
  --text-sm: 12px;
  --text-base: 16px;
  --text-scale: 1.125;
  --text-h4: calc(var(--text-base) * var(--text-scale));
  --text-h3: calc(var(--text-h4) * var(--text-scale));
  --text-h2: calc(var(--text-h3) * var(--text-scale));
  --text-h1: calc(var(--text-h2) * var(--text-scale));
  --font-family: Helvetica, Arial, sans-serif;

  --color-fg-title: #fff;
  --color-fg-text: #ccc;
  --color-bg-body: #222;
  --color-bg-menu: #000;
  --color-pop: #65ffda;
  --color-pop-hover: #9effe8;
  --color-pop-active: #4cbda2;

  --space-xs: 4px;
  --space-sm: calc(var(--space-xs) * 2);
  --space-md: calc(var(--space-sm) * 2);
  --space-lg: calc(var(--space-md) * 2);
  --space-xl: calc(var(--space-lg) * 2);
}

@media (min-width: 668px) {
  :root {
    --text-scale: 1.2;
  }
}

[data-theme='modern-light'] {
  --color-fg-title: #000;
  --color-fg-text: #333;
  --color-bg-body: #fff;
  --color-bg-menu: #f7f7f7;
  --color-pop: #006149;
  --color-pop-hover: #008060;
  --color-pop-active: #00523f;
}

[data-theme='windows-95'] {
  --text-scale: 1;
  --color-fg-title: #000;
  --color-fg-text: #333;
  --color-bg-body: #c0c0c0;
  --color-bg-menu: #c0c0c0;
  --color-pop: #006149;
  --color-pop-hover: #008060;
  --color-pop-active: #00523f;
  --font-family: 'MS Sans Serif', Tahoma, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-size: var(--type-base);
  font-family: var(--font-family);
  line-height: 1.6;
  background: var(--color-bg-menu);
}

h1,
h2,
h3,
h4 {
  color: var(--color-fg-title);
  margin: var(--space-lg) 0 var(--space-md);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

ul {
  margin: 0;
}

.sr-only {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  margin: -1px;
  overflow: hidden;
}

[data-theme='windows-95'] img {
  border-width: 2px;
  border-color: #808080 #ffffff #ffffff #808080;
  border-style: solid;
  border-radius: 0;
  background: #fff;
}

[data-theme='windows-95'] h1,
[data-theme='windows-95'] h2,
[data-theme='windows-95'] h3,
[data-theme='windows-95'] h4 {
  margin: var(--space-md) 0 var(--space-sm);
}
