.link,
.link:visited {
  --link-color: var(--color-pop);
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link::before,
.link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 4px);
  height: 1px;
  background: var(--link-color);
}

.link::after {
  transform: scaleX(0);
  transition: transform 300ms;
  height: 2px;
}

.link:focus,
.link:hover {
  --link-color: var(--color-pop-hover);
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.link:active {
  --link-color: var(--color-pop-active);
}

[data-theme='windows-95'] .link {
  display: inline-block;
  color: var(--color-fg-title);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: var(--space-xs) var(--space-sm);
  outline: 1px solid #000;
  outline-offset: 0;
  min-width: 150px;
  text-align: center;
}

[data-theme='windows-95'] .link:hover {
  background: #000080;
  color: #fff;
}

[data-theme='windows-95'] .link:focus {
  text-decoration: underline;
}

[data-theme='windows-95'] .link:active {
  font-weight: bold;
  background: #dcd9dc;
  color: var(--color-fg-title);
  border-color: #808080 #ffffff #ffffff #808080;
}

[data-theme='windows-95'] .link::before,
[data-theme='windows-95'] .link::after {
  content: none;
}
