.header {
  flex-shrink: 0;
  background: var(--color-bg-menu);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li > a,
.nav li > a:visited {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  height: 60px;
  color: var(--color-fg-title);
}

.nav a::before {
  content: none;
}

.nav a::after {
  top: auto;
  bottom: 0;
}

.nav a:focus,
.nav a:hover {
  background: var(--color-bg-body);
}

.homeLink .icon {
  margin: 0;
  border: none;
  border-radius: 0;
  height: 100%;
  display: block;
  min-width: 47px;
}

.homeLink a {
  display: flex;
  justify-content: center;
}
